@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --blue:#6C63FF;
  --semiblack:#3F3D56;
  --white:#fff;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--semiblack)
}
span {
  color: var(--blue);
  
}
.main-head {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
}
.main-head nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-head nav .logo {
  flex: 1 1 40rem;
  font-size: 2rem;
  font-weight: 500;
}
 
.main-head nav ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li a{
  font-size: 1.4rem;
}
nav ul li a:hover{
  color: var(--blue);
}
 .active{
  color: var(--blue);
}

.hero{
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .text-hero{
  flex: 1 1 40rem;
}
.hero .text-hero h3{
  font-size: 3rem;
}
.hero .text-hero h1{
  font-size: 6rem;
}
.hero .text-hero p{
  font-size: 1.5rem;
  margin-top: 1rem;
  
}
.hero .text-hero button{
  font-size: 1.5rem;
  background: var(--blue);
  color: var(--white);
  padding: 0.7rem 6rem;
  text-transform: uppercase;
  margin-top:4rem;
  font-weight: 500;
  border-radius: 5px;
  transition: all .3s ease-in;
}
.hero .text-hero button:hover{
  background: #2f25eb;
}
.hero .image-hero{
  flex: 2 1 40rem;
}
.hero .image-hero img{
  height: 100%;
  width: 100%;
}
.about{
  min-height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about .text-about{
  flex: 3 1 40rem;
}
.about .text-about h3{
  font-size:3rem;
  color: var(--blue);
  
}
.about .text-about p{
  font-size:1.5rem;
  margin: 1.3rem 0  3rem;;
}

.about .image-about{
  flex: 1 1 40rem;
}
.about .image-about img{
  height: 100%;
  width: 100%;
}
.services{
  min-height: 100vh;
  width: 90%;
  margin: auto; 
}

.services h4{
  font-size: 1.5rem;
  text-align: center;
  color: var(--semiblack);
}
.services .image{
  min-height: 70vh;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: 
  "image1 image2 image3"
  "image4 image5 image6";
  gap: 4rem;
}
.services .image img{
  min-height: 100%;
  width: 100%;
  
}
.box1{
  grid-area: image1;
}
.box2{
  grid-area: image2;
}
.box3{
  grid-area: image3;
}
.box4{
  grid-area: image4;
}

.services h3{
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 3rem;
}
.services .image-box{
  font-size: 3rem;
  color: var(--blue);
}

.projects{
  min-height: 100vh;
  width: 90%;
  margin: auto;
}
.projects h3{
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 3rem;

}
.projects .project-image{
  min-height: 70vh;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-areas: 
  "project1 project2"
  "project3 project4";
  gap: 5rem;
  
}
.projects .project-image img{
  min-height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.project-image .box1{
  grid-area: project1;
}
.project-image .box2{
  grid-area: project2;
}
.project-image .box3{
  grid-area: project3;
}
.project-image .box4{
  grid-area: project4;
}

.contact{
  min-height: 100vh;
  width: 90%;
  margin: auto;
}
.contact h3{
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.contact .contact-box{
  min-height: 70vh;
  background: var(--semiblack);
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box .contact-image{
  flex: 1 1 40rem;
  margin: 0 1rem;
}
.contact-box .contact-image img{
  min-height: 100%;
  width: 100%;
}
.contact-box .input-box{
  flex: 1 1 40rem;
  margin: 0 1rem;
}
.contact-box .input-box label{
  font-size: 1.5rem;
  display: block;
  margin: 1rem 0;
  color: var(--white);

}
.contact-box .input-box textarea{
  resize: none;
  margin-bottom: 2rem;
}
.contact-box .input-box input{
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem; 
  
}
.contact-box .input-box .btn{
  background: var(--blue);
  color: var(--white);
  border-radius: 0.5rem;
  border: none;
  transition: all .3s ease-in;
}
.contact-box .input-box .btn:hover{
  background: #2f25eb;
}

footer{
  min-height:15vh;
  background: var(--semiblack);
}
footer .footer-box{
 
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-box h4{
  color: var(--blue);
  font-size: 1.3rem;
  margin-top: 2rem;
}
.footer-box .list1 a{
  font-size: 2rem;
}
.footer-box  a:hover{
  text-decoration: underline;
}

.footer-box .list1 p{
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color:var(--white);
}
.footer-box a{
  font-size: 1.1rem;
  color: var(--white);
}
.list1, .list2, .list3, .list4{
  display: flex;
  flex-direction: column;
}
footer .owner{
  text-align: center;
  color: var(--white);
}